body {
    font-family: Arial, sans-serif;
    background-image: url(https://cdn.pixabay.com/photo/2016/06/25/12/52/laptop-1478822_640.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

.container {
    width: 30%;
    margin: 0 auto;
    background-color: rgba(240, 248, 255, 0.411);
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 10px;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #33333386;
}

textarea {
    resize: none; /* Prevent resizing */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    font-size: 0.9em;
    display: none; /* Hidden by default */
}